.pokecard {
    margin: 20px auto;
    padding: 20px;
    max-width: 300px;
    position: relative;
    background-color: lightgrey;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .pokecard img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 15px;
  }
  
  .pokecard h2 {
    font-size: 1.5rem;
    color: #ffcb05; /* Set the default text color */
  }
  
  .pokecard p {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .pokecard .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .pokecard button {
    padding: 10px 20px;
    font-size: 1rem;
    /* background-color: transparent; Set the default background color to transparent */
    border: 1px solid white; /* Set the default border color */
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Add transitions */
  }
  
  .pokecard button:hover {
    background-color: #ffcb05; /* Change the background color on hover */
    color: white; /* Change the text color on hover */
  }
  
  .dark-mode .pokecard {
    background-color: #2e2e2e;
    color: white;
  }
  
  .dark-mode .pokecard button {
    border-color: white; /* Adjust the border color for dark mode */
  }
  
  .dark-mode .pokecard button:hover {
    background-color: #555; /* Adjust the background color on hover for dark mode */
  }
  